.results-page {
  display: flex;
  justify-content: space-between;
}

.ads {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.ad {
  width: 100%;
  height: 100px;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
}

.main-content {
  width: 70%;
  padding: 20px;
}

.chart {
  margin-bottom: 40px;
}

.indicators-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
